{% extends 'base.html.twig' %}

{% block title %}Quest accettata{% endblock %}

{% block content %}
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <button type="submit">Termina quest</button>
    <button type="button">Cerca un'altra quest</button>
{% endblock %}
