{% extends 'base.html.twig' %}

{% block title %}Quest Explenation{% endblock %}

{% block content %}

    <h1 class="quest-type">{{ app.session.get('quest_type') }}</h1>
    <p class="quest-giver">{{ app.session.get('npcTitle') }}:</p>
    {% set questType = app.session.get('quest_type') %}

    {% if questType == 'Porta un tesoro a un mio associato' or questType == "Bring a treasure to an associate"%}
        {% include 'main/quest_type_1.html.twig' %}

    {% elseif questType == 'Trovami gli ingredienti per un mistico unguento' or questType == "Fetch me the ingredients"%}
        {% include 'main/quest_type_2.html.twig' %}

    {% elseif questType == 'Recupera l\'oggetto che ci fu rubato' or questType == "Retrieve the stolen item"%}
        {% include 'main/quest_type_3.html.twig' %}

    {% elseif questType == 'Salva una persona rapita' or questType == "Save the kidnapped associate" %}
        {% include 'main/quest_type_4.html.twig' %}
                       
    {% elseif questType == 'Sbarazzaci di un nemico' or questType == "Dispatch my enemy"%}
        {% include 'main/quest_type_5.html.twig' %}
    {% endif %}
    
    
    <a href="{{ path('accept') }}">
        <button type="submit">Accept quest</button>
    </a>

    <a href="{{ path('refuse') }}">
        <button type="submit">Reject quest</button>
    </a>
{% endblock %}
