{% extends 'base.html.twig' %}

{% block title %}Quest terminata{% endblock %}

{% block content %}
    <h1>Ricompense</h1>

    <a href="{{ path('home') }}">
        <button type="submit">Cerca un'altra quest</button>
    </a>
{% endblock %}
